@model Gride.Models.EmployeeModel
@using  System.IO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string name = Model.Name + " " + Model.LastName;
}

<h1>Edit personal details</h1>

<h4>@name</h4>
<hr />
<div class="row">
    <div class="col-lg-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input asp-for="ProfileImage" type="hidden" />
            <input asp-for="Name" type="hidden" />
            <input asp-for="LastName" type="hidden" />
            <input asp-for="LoginID" type="hidden" />
            <input asp-for="Experience" type="hidden" />
            <input type="hidden" asp-for="Admin" />
            <input type="hidden" asp-for="Skills"/>
            <input type="hidden" asp-for="Locations"/>
            <input type="hidden" asp-for="Functions" />
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.Name)</td>
                    <td><a asp-action="Request" asp-route-id="Name">Request change</a></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.LastName)</td>
                    <td><a asp-action="Request" asp-route-id="LastName">Request change</a></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DoB)</td>
                    <td><input asp-for="DoB" class="form-control" /></td>
                    <td><span asp-validation-for="DoB" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Gender)</td>
                    <td><input asp-for="Gender" class="form-control" /></td>
                    <td><span asp-validation-for="Gender" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EMail)</td>
                    <td><input asp-for="EMail" class="form-control" /></td>
                    <td><span asp-validation-for="EMail" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
                    <td><input asp-for="PhoneNumber" class="form-control" /></td>
                    <td><span asp-validation-for="PhoneNumber" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td class="w-50">
                        @Html.DisplayNameFor(model => model.Skills)
                    </td>
                    <td>
                        @foreach (var item in Model.Skills)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                        }
                    </td>
                    <td><a asp-action="Request" asp-route-id="Skill">Request change</a></td>
                </tr>
                <tr>
                    <td class="w-50">
                        @Html.DisplayNameFor(model => model.Functions)
                    </td>
                    <td>
                        @foreach (var item in Model.Functions)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                        }
                    </td>
                    <td><a asp-action="Request" asp-route-id="Function">Request change</a></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Experience)</td>
                    <td>@Html.DisplayFor(modelItem => modelItem.Experience) year(s)</td>
                    <td><a asp-action="Request" asp-route-id="Experience">Request change</a></td>
                </tr>
                <tr>
                    <td class="w-50">
                        @Html.DisplayNameFor(model => model.Locations)
                    </td>
                    <td>
                        @foreach (var item in Model.Locations)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                        }
                    </td>
                    <td><a asp-action="Request" asp-route-id="Location">Request change</a></td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-12">
                @if (!String.IsNullOrEmpty(Model.ProfileImage))
                {
                    <img class="img img-profile" src="~/images/@Model.ProfileImage" alt="Profile Image" />
                }
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

