@model Gride.Models.EmployeeModel
@using  System.IO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string name = Model.Name + " " + Model.LastName;
}

<h1>Edit personal details</h1>

<h4>@name</h4>
<hr />
<div class="row">
    <td class="col-md-4">
        <form asp-action="Edit">
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                    <td><a asp-action="Request" asp-controller="User" asp-route-id="Name">Request Change</a></td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LastName)</td>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                    <td><a asp-action="Request" asp-controller="User" asp-route-id="LastName">Request Change</a></td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="DoB" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="DoB" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="DoB" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Gender" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Gender" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="EMail" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="EMail" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="EMail" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="PhoneNumber" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </td>
                    <td>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Skills
                    </td>
                    <td>
                        @foreach (var skill in Model.EmployeeSkills)
                        {
                            <p>@skill.Skill.Name</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Request" asp-controller="User" asp-route-id="Skills">Request Change</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Functions</label>
                    </td>
                    <td>
                        @foreach (var function in Model.EmployeeFunctions)
                        {
                            <p>@function.Function.Name</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Request" asp-controller="User" asp-route-id="Functions">Request Change</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Locations
                    </td>
                    <td>
                        <table>
                            <tr>
                                @{
                                    int cnt = 0;
                                    List<LocationData> locations = ViewBag.Locations;

                                    foreach (var location in locations)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                    name="selectedLocations"
                                                    value="@location.LocationID"
                                                    @(Html.Raw(location.Assigned ? "checked=\"checked\"" : "")) />
                                            @location.Name
                                        @:</td>
                                    }
                                    @:</tr>
                                    }
                        </table>
                    </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Experience)</td>
                <td>@Html.DisplayFor(model => model.Experience)</td>
                <td><a asp-action="Request" asp-controller="User" asp-route-id="Experience">Request Change</a></td>
            </tr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input asp-for="ProfileImage" type="hidden" />
            <input asp-for="Name" type="hidden" />
            <input asp-for="LastName" type="hidden" />
            <input asp-for="Admin" type="hidden" />

            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index">Cancel</a>
            </div>
            </form>
        </div>
</div>

