@model Gride.Models.EmployeeModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!EmployeeModel.Equals(Model, null))
{
    <h1>@Model.Name @Model.LastName</h1>
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Name)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.LastName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DoB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DoB)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Gender)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.EMail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.EMail)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Skills)
                    </td>
                    <td>
                        @foreach (var item in Model.Skills)
                        {
                            <p> 
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Functions)
                    </td>
                    <td>
                        @foreach (var item in Model.Functions)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Experience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Experience) year(s)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Locations)
                    </td>
                    <td>
                        @foreach (var item in Model.Locations)
                        {
                            <p>
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-12">
                    @if (!String.IsNullOrEmpty(Model.ProfileImage))
                    {
                        <img class="img img-profile" src="images/@Model.ProfileImage" alt="Profile Image" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Edit">Edit personal details</a>
    </div>
}
else
{
    <h1>Not logged in yet</h1>

    <p>Please create an account to view your personal information.</p>
}

