@model Gride.Models.Work

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<style>
    .selected_Works {
        font-weight: bold;
        color: black;
    }
</style>
<div>
    <h4>Work</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift.ShiftID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
