@model IEnumerable<Gride.Models.Availability>

@{
    ViewData["Title"] = "Index";
    string day = "Monday";
    string start = "";
    int week = 1;
    if (ViewBag.week != null)
    {
        week = ViewBag.week;
    } else
    {
        week = DateTime.Now.DayOfYear / 7;
    }
    int next = (week + 1) % 53;
    int previous = week - 1;
    if (previous < 0)
    {
        previous = 52;
    }
}

<h1>Week @week</h1>
<p>
    <a asp-action="Index" asp-route-week="@previous">Previous week</a>
</p>
<p>
    <a asp-action="Index" asp-route-week="@next">Next week</a>
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Day
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        start = item.Start.DayOfWeek.ToString();
                        if (day != start)
                        {
                            day = start;
                            <text>@day</text>
                        }
                    }
                </td>
                <td>
                    @item.Start.TimeOfDay
                </td>
                <td>
                    @item.End.TimeOfDay
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AvailabilityID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.AvailabilityID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
