@model Gride.Models.Shift

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<style>
    .selected_Shift {
        font-weight: bold;
        color: black;
    }
</style>
<h4>Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShiftID" />
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<Gride.Models.ShiftSkillsData> skills = ViewBag.Skills;

                                foreach (var skill in skills)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedSkills"
                                               value="@skill.SkillID"
                                               @(Html.Raw(skill.Assigned ? "checked=\"checked\"" : "")) />
                                        @skill.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int c = 0;
                                List<Gride.Models.ShiftFunctionData> functions = ViewBag.Functions;

                                foreach (var function in functions)
                                {
                                    @:</tr><tr>
                                    @:<td>
                                        <input type="checkbox"
                                                name="selectedFunctions"
                                                value="@function.FunctionID"
                                                @(Html.Raw(function.Assigned ? "checked=\"checked\"" : "")) />
                                         @function.Name
                                    @:</td>
                                    @:<td>
                                        <input name="selectedFunctionsMax"
                                                value="@function.MaxEmployees"/>
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int ctr = 0;
                                List<Gride.Models.WorkData> employees = ViewBag.Employees;

                                foreach (var employee in employees)
                                {
                                @:</tr><tr>
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedEmployees"
                                               value="@employee.EmployeeID"
                                               @(Html.Raw(employee.Assigned ? "checked=\"checked\"" : "")) />
                                        @employee.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
					<a href="@($"../AssignEmployee/{Model.ShiftID}")">Assign Employees</a>
                    <span asp-validation-for="Works" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

