@model IEnumerable<Gride.Models.Shift>

@{
    ViewData["Title"] = "Index";
<<<<<<< HEAD
=======
    Layout = "~/Views/Shared/_Layout.cshtml";
>>>>>>> 3e5b3a41759ee26a52f0007b0ab3791d150d1741
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
<<<<<<< HEAD
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
=======
>>>>>>> 3e5b3a41759ee26a52f0007b0ab3791d150d1741
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
=======
>>>>>>> 3e5b3a41759ee26a52f0007b0ab3791d150d1741
                <a asp-action="Edit" asp-route-id="@item.ShiftID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShiftID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShiftID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
