@model IEnumerable<Gride.Models.Shift>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shifts</h1>
@if (SignInManager.IsSignedIn(User)  && _context.EmployeeModel.Single(x => x.EMail == User.Identity.Name).Admin)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ShiftID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ShiftID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ShiftID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
